# Required Python packages to run NEST Client.
#
# This file specifies the required Python packages to run NEST Client.
#
# The listed requirements are used to build the mamba environment defined
# in the environment yaml file. If you want to run nest-server with mpi, please
# uncomment to install required packages. If you want to build an environment
# yourself, e.g., independent of mamba, the requirements from this file
# can be installed by
#
#     pip install -r requirements.txt

requests>=2.32
werkzeug>=3.1
